<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- تنظیمات کلی برنامه -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/back"
        android:label="GYM"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <!-- تعریف فعالیت اول برنامه (LoginActivity) -->
        <activity
            android:name="Presentation.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <!-- فیلتر اینتنت برای این فعالیت (راه‌اندازی به عنوان صفحه اصلی برنامه) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />  <!-- عملیات اصلی برای شروع برنامه -->
                <category android:name="android.intent.category.LAUNCHER" />  <!-- به عنوان یک لانچر (صفحه اصلی) شناخته می‌شود -->
            </intent-filter>
        </activity>

        <!-- تعریف فعالیت دوم برنامه (SecondActivity) -->
        <activity
            android:name="Presentation.SecondActivity"
            android:label="@string/app_name"/>

    </application>
</manifest>
